html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #391230;
  color: #fff; }

#container {
  width: 90%;
  max-width: 600px;
  margin: auto;
  font-family: "Lato", sans-serif;
  padding: 5%; }

h1 {
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.2;
  margin-top: 20vh; }

section {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.6; }

a {
  color: #edcda6;
  text-decoration: none;
  border-bottom: 1px #edcda6 dotted; }

h2 {
  font-family: "Allura", cursive;
  font-size: 2em; }

img {
  max-width: 90%;
  display: block;
  height: auto;
  max-height: 100vh; }

.slide-item {
  height: 90vh; }

.sticky-outer {
  position: absolute;
  height: calc(100% + 1000vh);
  width: 100%;
  top: 0vh;
  left: 0;
  z-index: -1; }

.images {
  width: 90%;
  box-sizing: border-box;
  margin: auto; }

.elements {
  height: 100vh; }

.annotation {
  position: absolute;
  bottom: 35vh;
  font-family: "Shadows Into Light Two", cursive;
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(-20deg);
  -ms-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  transform: rotate(-20deg);
  display: none; }

.self, .platypus {
  position: absolute;
  bottom: 0;
  display: none; }

.panback, .spotify {
  display: none; }

.large-annotation {
  bottom: 65vh;
  margin-left: 90px;
  font-size: 6em;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg); }

.links a {
  border: none;
  margin-right: 5px; }
